<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <h1 class="page-header text-center">
      <span class="text-center">Proyecto Inicial</span>
    </h1>
    <!-- BOOTSTRAP CDN -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#"
        ><h1>Resumen del Plan de Proyecto</h1>
      </a>
    </nav>
  </body>
</html>
